[Desktop Entry]
Name=SteamDeckUI
Comment=Interfaz de StemDeck X11
Exec=/usr/bin/steam -gamepadui -steamos3 -steampal -steamdeck %U
Icon=steamdeck-gaming-return
Terminal=false
Type=Application
Categories=Game;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
